.login-box {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    background: #f8f8f8;
    border-radius: 12px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
}
