/* PENGURUS PAGE */
.team-header {
    text-align: center;
    padding: 50px 10px;
    color: #004b8d;
    font-size: 28px;
    font-weight: 600;
}

.team-grid {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 25px;
}

.team-card {
    background: #fff;
    border-radius: 14px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    transition: 0.3s;
}

.team-card:hover {
    transform: translateY(-6px);
}

.team-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.team-card h3 {
    margin-bottom: 5px;
}

.team-card p {
    color: #555;
}
