/* PROGRAM PAGE */
.program-header {
    background: #003764;
    padding: 80px 20px;
    color: #fff;
    text-align: center;
}

.program-list {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

.program-item {
    background: #fff;
    padding: 22px;
    margin-bottom: 20px;
    border-left: 6px solid #004b8d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}
